body {
  background-color: #373c47;
  color: white;
}

.nft {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: solid 2px black;
}

.nft-selected {
  border: 2px solid darkred;
}

.month-payed {
  background-color: green;
}
